@font-face {
    src: url(../fonts/OpenSans-Regular.ttf);
    font-family: 'OpenSans-Regular', sans-serif;
}
* {
    font-family: 'OpenSans-Regular', sans-serif;
}
body {
    width: 100%;
    height: 90vh;
}
::-webkit-scrollbar {
    width: 0;
    height: 0;
}


.content-1 {
    width: 50%;
    float: left;
    border-right: 1px solid #bbb;
}

.title-1 {
    text-align: center;
}
.description-1 {
    text-align: center;
}
.title-2 {
    text-align: center;
    margin-top: 60px;
}
.description-2 {
    text-align: center;
    height: 45px;
}
.title-3 {
    text-align: center;
    padding: 12.1px;
}
.description-3 {
    text-align: center;
    margin: 0 2%;
}
/* .description, h1 {
    text-align: center;
    margin-top: 7%;
    margin-left: 2%;
    margin-right: 2%;
}
h1 {
    font-size: 1.6em;
}
.description {
    font-size: .8em;
} */

.ul-icons {
    list-style-type: none;
}
.ul-icons li {
    display: inline-block;
    margin: 9px 0px 0px 20px;
}
.ul-icons li:nth-child(1) {
    margin-top: 15px;
}
.ul-icons a {
    text-decoration: none;
    color: rgba(0, 0, 0, .8);
}
.ul-icons a:hover {
    color: rgba(6, 209, 141, 0.945);
    transition: color .5s;
}