@font-face {
    src: url(../fonts/ShadowsIntoLight-Regular.ttf);
    font-family: 'ShadowsIntoLight-Regular';
}
* {
    font-family: 'ShadowsIntoLight-Regular';
}
body, html {
    height: 100vh;
    width: 100vw;
    background-color: black;
}
body {
    background: url(../imagens/bck1.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

.hidden {
    width: 0;
    height: 0;
    overflow: hidden;
    display: block;
}

.profile {
    width: 10%;
    max-height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 7%;
    left: 30%;
    box-shadow: 0px 0px 0px 7px rgb(44, 43, 43);
}
.profile:hover {
    border: 3px solid rgba(149, 221, 231, 0.733);
    transition: border .2s;
}
.profile-name {
    position: absolute;
    color: white;
    top: 6%;
    left: 42%;
    font-size: 2.5em;
}

.ul-icons {
    list-style-type: none;
    position: absolute;
    top: 16%;
    left: 40%;
    font-size: 2.5em;
}
.ul-icons li {
    display: inline-block;
}
.ul-icons li:nth-child(2n+1):hover {
    transform: rotate(5deg);
}
.ul-icons li:nth-child(2):hover, .ul-icons li:nth-child(4):hover {
    transform: rotate(-5deg);
}
.ul-icons a {
    color: rgba(255, 255, 255, 0.747);
}
.ul-icons a:hover {
    color: rgba(255, 255, 255, 1);
}

.box-1 {
    position: absolute;
    top: 28%;
    margin: 0 30% 0 30%;
    width: 40%;
    height: 43%;
    border-radius: 12px;
    background-color: rgb(17, 17, 17);

}
.box-2 {
    width: 37.7vw;
    height: 40vh;
    margin-top: 1.9%;
    margin-left: 2.4%;
    border-radius: 12px;
    background-color: #d6d6f8;
}



iframe#tela {
    position: relative;
    
    width: 38vw;
    height: 40vh;
}